<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
	default-lazy-init="false">
	
	<context:property-placeholder
		ignore-unresolvable="true" ignore-resource-not-found="true"
		system-properties-mode="NEVER"
		location="classpath:conf/application.properties" />
		
	<context:component-scan base-package="com.wang.green"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<!-- <context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" /> -->
	</context:component-scan>

	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" enable-matrix-variables="true">
        <mvc:message-converters register-defaults="true">
        	<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
            <!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
                <property name = "supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text"/>
                            <constructor-arg index="1" value="plain"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="*"/>
                            <constructor-arg index="1" value="*"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                    </list>
                </property>
            </bean>
            
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
				<property name="prettyPrint" value="true"/>
			</bean>
            
            <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			<bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

	<mvc:default-servlet-handler/>
	
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/web-api/**"/>
				<bean class="com.pycredit.common.web.UserSigninInterceptor">
				</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<!--微信验证拦截 
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>5120000</value>
		</property>
		<property name="maxInMemorySize">
			<value>1024</value>
		</property>
	</bean> -->

	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <!-- 扩展名至mimeType的映射,即 /user.json => application/json -->
        <property name="favorPathExtension" value="true"/>
        <!-- 用于开启 /userinfo/123?format=json 的支持 -->
        <property name="favorParameter" value="true"/>
        <property name="parameterName" value="format"/>
        <!-- 是否忽略Accept Header -->
        <property name="ignoreAcceptHeader" value="false"/>

		<!--扩展名到MIME的映射；favorPathExtension, favorParameter是true时起作用  -->
        <property name="mediaTypes">
            <value>
                json=application/json
                xml=application/xml
                html=text/html
            </value>
        </property>
        <!-- 默认的content type -->
        <property name="defaultContentType" value="application/json"/>
    </bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp">
	</bean>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
	</bean>
	
	<!-- <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor">
		<property name="validator" ref="validator" />
	</bean> -->
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:org/hibernate/validator/ValidationMessages</value>
			</list>
		</property>
	</bean>
	
	<!-- <bean class="com.pycredit.common.web.DefaultExceptionHandler"/> -->
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">  
	    <property name="defaultLocale" value="zh_CN"/>  
	</bean>  
	<!-- 启用AspectJ对Annotation的支持 -->         
    <aop:aspectj-autoproxy />
    <!-- <context:component-scan base-package="com.pycredit.common.aop" /> -->
    <bean id="mongoLogTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5"/>
		<property name="maxPoolSize" value="10"/>
		<property name="queueCapacity" value="5000"/>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:conf/spring/applicationContext-web-mvc-views.xml"/>
	</bean>
	
	<import resource="applicationContext-web-swagger-dev.xml"/>
	
	<!-- 启用AspectJ对Annotation的支持 -->         
  <!--   <aop:aspectj-autoproxy />
    <bean class="com.pycredit.common.web.aop.SysActionLogAspect"/>
     -->
</beans>  